{{/*
Copyright 2026 DoorDash, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
{{- $config := .Config -}}
{{- $operations := .Operations -}}
{{- /* Response data is generated in the same package as models, so no prefix needed */ -}}
{{- template "response-data-header" $ }}

{{ range $operations }}{{ $op := . }}
{{- if $op.Response.Success }}
{{- $bodyType := $op.Response.Success.ResponseName -}}
{{- $isRawResponse := $op.Response.Success.IsRaw }}
// {{ $op.ID | ucFirst }}ResponseData wraps the success response with optional headers and status override.
{{- $isByteSlice := eq $op.Response.Success.Schema.GoType "[]byte" }}
type {{ $op.ID | ucFirst }}ResponseData struct {
{{- if or $isRawResponse $isByteSlice }}
    Body    []byte
{{- else }}
    Body    *{{ $bodyType }}
{{- end }}
    Headers http.Header
    Status  int // 0 = use default ({{ $op.Response.SuccessStatusCode }})
}

// New{{ $op.ID | ucFirst }}ResponseData creates a new {{ $op.ID | ucFirst }}ResponseData with the given body.
{{- if or $isRawResponse $isByteSlice }}
func New{{ $op.ID | ucFirst }}ResponseData(body []byte) *{{ $op.ID | ucFirst }}ResponseData {
{{- else }}
func New{{ $op.ID | ucFirst }}ResponseData(body *{{ $bodyType }}) *{{ $op.ID | ucFirst }}ResponseData {
{{- end }}
    return &{{ $op.ID | ucFirst }}ResponseData{Body: body}
}

// WithHeaders sets custom headers on the response.
func (r *{{ $op.ID | ucFirst }}ResponseData) WithHeaders(h http.Header) *{{ $op.ID | ucFirst }}ResponseData {
    r.Headers = h
    return r
}

// WithStatus overrides the default status code.
func (r *{{ $op.ID | ucFirst }}ResponseData) WithStatus(code int) *{{ $op.ID | ucFirst }}ResponseData {
    r.Status = code
    return r
}
{{- end }}
{{ end }}
