.md-header__inner {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.md-header__button.md-logo {
    padding: 0;
    height: 2.0rem;
    overflow: visible;
}

.md-header__button.md-logo img {
    width: auto;
    height: 4.4rem !important;
    max-height: none !important;
    margin-top: -0.75rem;
}

.md-header__inner.md-grid img {
    height: auto;
}

.md-header__title {
    margin-left: 0.5rem !important;
}

.md-typeset h1 {
    font-weight: 800;
}
