{{ template "header" $ }}

{{ define "client" }}
{{ $args := . }}
{{ $config := $args.config }}
{{ $operations := $args.operations }}

{{ $clientName := $config.Client.Name }}

// {{$clientName}} is the client for the API implementing the {{$clientName}} interface.
type {{$clientName}} struct {
    apiClient runtime.APIClient
}

// New{{$clientName}} creates a new instance of the {{$clientName}} client.
func New{{$clientName}}(apiClient runtime.APIClient) *{{$clientName}} {
    return &{{$clientName}}{apiClient: apiClient}
}

// NewDefault{{$clientName}} creates a new instance of the {{$clientName}} client with default api client.
func NewDefault{{$clientName}}(baseURL string, opts ...runtime.APIClientOption) (*{{$clientName}}, error) {
    apiClient, err := runtime.NewAPIClient(baseURL, opts...)
    if err != nil {
        return nil, fmt.Errorf("error creating API client: %w", err)
    }
    return &{{$clientName}}{apiClient: apiClient}, nil
}

// ClientInterface is the interface for the API client.
type {{$clientName}}Interface interface {
    {{- range $operations }}{{$op := .}}
        {{if not $config.Generate.OmitDescription}}{{ toGoComment $op.Summary $op.ID}}{{end}}
        {{$op.ID}}(ctx context.Context{{- if $op.HasRequestOptions }}, options *{{$op.ID | ucFirst}}RequestOptions{{end}}, reqEditors ...runtime.RequestEditorFn) (*{{ $op.Response.Success.ResponseName }}, error)
    {{ end }}
}

{{range $operations}}{{$op := .}}
{{if not $config.Generate.OmitDescription}}{{ toGoComment $op.Summary $op.ID}}{{end}}
func (c *{{$clientName}}) {{$op.ID}}(ctx context.Context{{ if $op.HasRequestOptions }}, options *{{$op.ID | ucFirst}}RequestOptions{{end}}, reqEditors ...runtime.RequestEditorFn) (*{{ $op.Response.Success.ResponseName }}, error) {
    var err error
    {{- if and $op.Body $op.Body.Encoding }}
        bodyEncoding := make(map[string]runtime.FieldEncoding)
        {{- range $key, $value := $op.Body.Encoding }}
            bodyEncoding["{{$key}}"] = runtime.FieldEncoding{
                ContentType: "{{$value.ContentType}}",
                Style:       "{{$value.Style}}",
                {{- if ne $value.Explode nil }}
                Explode: &[]bool{ {{$value.Explode}} }[0],
                {{- end }}
            }
        {{- end }}
    {{- end }}
    reqParams := runtime.RequestOptionsParameters{
        RequestURL:  c.apiClient.GetBaseURL() + "{{$op.Path}}",
        Method:  "{{$op.Method}}",{{- if $op.HasRequestOptions }}
        Options: options,{{- end}}{{- if $op.Body }}
        ContentType: "{{$op.Body.ContentType}}",{{- end }}
        {{- if and $op.Body $op.Body.Encoding }}
        BodyEncoding: bodyEncoding,
        {{- end }}
    }

    req, err := c.apiClient.CreateRequest(ctx, reqParams, reqEditors...)
    if err != nil {
        return nil, fmt.Errorf("error creating request: %w", err)
    }

    {{ template "responseParserFn" (dict "op" $op) }}

    resp, err := c.apiClient.ExecuteRequest(ctx, req, "{{ $op.Path }}")
    if err != nil {
        return nil, fmt.Errorf("error executing request: %w", err)
    }
    return responseParser(ctx, resp)
}

{{end -}}

var _ {{$clientName}}Interface = (*{{$clientName}})(nil)
{{ end -}}

{{ template "client" dict "config" .Config "operations" .Operations }}

{{- define "responseParserFn" }}{{- $op := .op }}
{{- $respName := $op.Response.Success.ResponseName }}
responseParser := func(ctx context.Context, resp *runtime.Response) (*{{$op.Response.Success.ResponseName}}, error) {
    bodyBytes := resp.Content
    if resp.StatusCode != {{$op.Response.SuccessStatusCode}} {
        {{- with $op.Response.Error }}
            {{- if .ResponseName }}
                target := new({{ .ResponseName }})
                err = json.Unmarshal(bodyBytes, target)
                if err != nil {
                    return nil, fmt.Errorf("error decoding response: %w", err)
                }
                return nil, runtime.NewClientAPIError(*target, runtime.WithStatusCode(resp.StatusCode))
            {{- else }}
                return nil, runtime.NewClientAPIError(fmt.Errorf("unexpected status code: %d", resp.StatusCode),
                        runtime.WithStatusCode(resp.StatusCode))
            {{- end }}
        {{- else }}
            return nil, runtime.NewClientAPIError(fmt.Errorf("unexpected status code: %d", resp.StatusCode),
                runtime.WithStatusCode(resp.StatusCode))
        {{- end }}
    }

    {{- if eq $op.Response.SuccessStatusCode 204 }}
        return nil, nil
    {{ else }}
        target := new({{ $respName }})
        {{ if eq $op.Response.Success.NameTag "Formdata" }}
            bodyBytes, err = runtime.ConvertFormFields(bodyBytes)
        {{ end -}}
        if err = json.Unmarshal(bodyBytes, target); err != nil {
            err = fmt.Errorf("error decoding response: %w", err)
            return nil, err
        }
        return target, nil
    {{ end -}}
}
{{- end }}
