{{ template "header" $ }}

{{range $Enum := .Enums}}
  {{- if $Enum.Schema.Description}}{{ toGoComment $Enum.Schema.Description $Enum.Name }}{{- end}}
    type {{$Enum.Name}} {{$Enum.Schema.GoType}}
    const (
      {{- range $name, $value := $Enum.GetValues}}
        {{$name}} {{$Enum.Name}} = {{$Enum.ValueWrapper}}{{$value}}{{$Enum.ValueWrapper}}
      {{- end}}
    )

    // All returns all possible values for {{$Enum.Name}}.
    func ({{$Enum.Name | fst | lower}} {{$Enum.Name}}) All() []{{$Enum.Name}} {
      return []{{$Enum.Name}}{
        {{- range $name, $value := $Enum.GetValues}}
          {{$name}},
        {{- end}}
      }
    }
{{end}}

