{{/*
Copyright 2025 DoorDash, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}

{{- template "header" $ }}

{{- $root := . }}
{{- $skipValidation := .Config.Generate.Validation.Skip }}
{{- $simpleValidation := .Config.Generate.Validation.Simple }}
{{range $Enum := .Enums}}
  {{- $alias := $Enum.Name | fst | lower }}
  {{- if and $Enum.Schema.Description (not $root.Config.Generate.OmitDescription)}}{{ toGoComment $Enum.Schema.Description $Enum.Name }}{{- end}}
    type {{$Enum.Name}} {{$Enum.Schema.GoType}}
    const (
      {{- range $ev := $Enum.Values}}
        {{$ev.Name}} {{$Enum.Name}} = {{$Enum.ValueWrapper}}{{escapeGoString $ev.Value}}{{$Enum.ValueWrapper}}
      {{- end}}
    )

    {{ if and (not $skipValidation) (not $simpleValidation) }}
    // Validate checks if the {{$Enum.Name}} value is valid
    func ({{$alias}} {{$Enum.Name}}) Validate() error {
        switch {{$alias}} {
        case {{range $i, $ev := $Enum.Values}}{{if $i}}, {{end}}{{$ev.Name}}{{end}}:
            return nil
        default:
            return runtime.NewValidationErrorsFromString("Enum", fmt.Sprintf("must be a valid {{$Enum.Name}} value, got: %v", {{$alias}}))
        }
    }
    {{ end }}

    {{/* Error() method for enum types that are error responses */}}
    {{ if and $root.TypeTracker ($root.TypeTracker.NeedsErrorMethod $Enum.Name) }}
    func ({{$alias}} {{$Enum.Name}}) Error() string {
        return string({{$alias}})
    }
    {{ end }}
{{end}}
