{{ template "header" $ }}

{{- $root := . }}
{{range $Enum := .Enums}}
  {{- if and $Enum.Schema.Description (not $root.Config.Generate.OmitDescription)}}{{ toGoComment $Enum.Schema.Description $Enum.Name }}{{- end}}
    type {{$Enum.Name}} {{$Enum.Schema.GoType}}
    const (
      {{- $safeNames := slice }}
      {{- range $name, $value := $Enum.GetValues}}
      {{- $safeName := $root.TypeRegistry.GetName $name}}
      {{- $safeNames = append $safeNames $safeName }}
        {{$safeName}} {{$Enum.Name}} = {{$Enum.ValueWrapper}}{{$value}}{{$Enum.ValueWrapper}}
      {{- end}}
    )
{{end}}
