{{ template "header" $ }}

{{ $isParam := or (eq .SpecLocation "path") (eq .SpecLocation "query") (eq .SpecLocation "header") (eq .SpecLocation "body") }}
{{ $loc := str .SpecLocation }}
{{ if $isParam }}
var {{.SpecLocation}}TypesValidate = validator.New(validator.WithRequiredStructEnabled())
{{ end -}}

{{- define "typeDef" -}}
{{ $td := .type }}
{{ $config := .config }}
{{ $loc := .specLocation }}
{{ $responseErrors := .responseErrors }}
{{ $isParam := or (eq $loc "path") (eq $loc "query") (eq $loc "header") (eq $loc "body") }}
{{ $alias := .alias }}
{{ if not $alias}}{{ $alias = $td.Name | fst | lower }}{{ end }}

    {{ if not $config.Generate.OmitDescription}}{{ toGoComment $td.Schema.Description $td.Name }}{{ end }}
    type {{$td.Name}} {{if $td.IsAlias}}={{end}} {{$td.Schema.TypeDecl}}

    {{ if $isParam }}
    {{ if not $td.IsAlias }}
    func ({{$alias}} {{$td.Name}}) Validate() error {
    return {{$loc}}TypesValidate.Struct({{$alias}})
    }
    {{ end }}
    {{ end -}}

    {{ if $responseErrors }}
    {{- $isResponseError := index $responseErrors $td.Name }}
    {{ if $isResponseError }}
    {{ if not $td.IsAlias }}
    {{ $alias := $loc | fst | lower }}
    func ({{$alias}} {{$td.Name}}) Error() string {
        {{- if index $config.ErrorMapping $td.Name}}
        {{ $td.GetErrorResponse $config.ErrorMapping $alias }}
        {{ else }}
        return "unmapped client error"
        {{ end -}}
    }
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if $td.Schema.HasAdditionalProperties }}
    {{ template "additionalProperties" (dict "typeDef" $td "alias" $alias) }}
    {{ end }}
{{ end }}

{{ $config := .Config }}
{{ $responseErrors := .ResponseErrors }}

{{- range .Types}}{{ $td := . }}
{{ if not $td.Schema.UnionElements }}
  {{ template "typeDef" (dict "type" $td "config" $config "specLocation" $loc "responseErrors" $responseErrors) }}
{{ end }}
{{ end }}
