{{ template "header" $ }}

{{ define "additionalProperties" }}
{{ $args := . }}
{{ $td := $args.typeDef }}
{{ $alias := $args.alias }}
{{ $addType := $td.Schema.AdditionalPropertiesType.TypeDecl }}

// Getter for additional properties for {{.Name}}. Returns the specified
// element and whether it was found
func ({{$alias}} {{$td.Name}}) Get(fieldName string) (value {{$addType}}, found bool) {
    if {{$alias}}.AdditionalProperties != nil {
        value, found = {{$alias}}.AdditionalProperties[fieldName]
    }
    return
}

// Setter for additional properties for {{.Name}}
func ({{$alias}} *{{$td.Name}}) Set(fieldName string, value {{$addType}}) {
    if {{$alias}}.AdditionalProperties == nil {
        {{$alias}}.AdditionalProperties = make(map[string]{{$addType}})
    }
    {{$alias}}.AdditionalProperties[fieldName] = value
}

{{if eq 0 (len $td.Schema.UnionElements) -}}
// Override default JSON handling for {{.Name}} to handle AdditionalProperties
func ({{$alias}} *{{$td.Name}}) UnmarshalJSON(b []byte) error {
    object := make(map[string]json.RawMessage)
    if err := json.Unmarshal(b, &object); err != nil {
        return err
    }

    {{range $td.Schema.Properties}}
    if raw, found := object["{{.JsonFieldName}}"]; found {
        if err := json.Unmarshal(raw, &{{$alias}}.{{.GoName}}); err != nil {
            return fmt.Errorf("error reading '{{.JsonFieldName}}': %w", err)
        }
        delete(object, "{{.JsonFieldName}}")
    }
    {{end}}
    if len(object) != 0 {
        {{$alias}}.AdditionalProperties = make(map[string]{{$addType}})
        for fieldName, fieldBuf := range object {
            var fieldVal {{$addType}}
            if err := json.Unmarshal(fieldBuf, &fieldVal); err != nil {
                return fmt.Errorf("error unmarshaling field %s: %w", fieldName, err)
            }
            {{$alias}}.AdditionalProperties[fieldName] = fieldVal
        }
    }
    return nil
}

// Override default JSON handling for {{.Name}} to handle AdditionalProperties
func ({{$alias}} {{$td.Name}}) MarshalJSON() ([]byte, error) {
    var err error
    object := make(map[string]json.RawMessage)
    {{range $td.Schema.Properties}}
    {{if not .Constraints.Required}}if {{$alias}}.{{.GoName}} != nil { {{end}}
        object["{{.JsonFieldName}}"], err = json.Marshal({{$alias}}.{{.GoName}})
        if err != nil {
            return nil, fmt.Errorf("error marshaling '{{.JsonFieldName}}': %w", err)
        }
        {{if not .Constraints.Required}} }{{end}}
    {{end}}

    for fieldName, field := range {{$alias}}.AdditionalProperties {
        object[fieldName], err = json.Marshal(field)
        if err != nil {
            return nil, fmt.Errorf("error marshaling '%s': %w", fieldName, err)
        }
    }
    return json.Marshal(object)
}
{{end}}
{{end}}
