func unmarshalAs[T any](v json.RawMessage) (T, error) {
    var res T
    err := json.Unmarshal(v, &res)
    return res, err
}

func marshalJSONWithDiscriminator(data []byte, field, value string) ([]byte, error) {
    var err error
    object := make(map[string]json.RawMessage)
    if data != nil {
        if err := json.Unmarshal(data, &object); err != nil {
            return nil, err
        }
    }

    object[field], err = json.Marshal(value)
    if err != nil {
        return nil, fmt.Errorf("error marshaling discriminator field '%s': %w", field, err)
    }

    return json.Marshal(object)
}


{{ $config := .Config }}

{{range .Types}}
{{/* make sure schema has union elements */}}
{{ if .Schema.UnionElements }}
{{$typeName := .Name -}}
{{ $alias := $typeName | fst | lower }}
    {{ template "typeDef" (dict "type" . "config" $config "specLocation" "union" "alias" $alias) }}

    {{$discriminator := .Schema.Discriminator}}
    {{$properties := .Schema.Properties -}}

    {{ $eitherType := eq (len .Schema.UnionElements) 2}}

    {{range .Schema.UnionElements}}
        {{$element := . -}}

        {{ if not $eitherType }}
        // As{{ .Method }} returns the union data inside the {{$typeName}} as a {{.}}
        func ({{$alias}} *{{$typeName}}) As{{ .Method }}() ({{.}}, error) {
            return unmarshalAs[{{.}}]({{$alias}}.union)
        }

        // From{{ .Method }} overwrites any union data inside the {{$typeName}} as the provided {{.}}
        func ({{$alias}} *{{$typeName}}) From{{ .Method }} (v {{.}}) error {
            {{if $discriminator -}}
                {{range $value, $type := $discriminator.Mapping -}}
                    {{if eq $type $element -}}
                        {{$hasProperty := false -}}
                        {{range $properties -}}
                            {{if eq .GoName $discriminator.PropertyName -}}
                                {{$alias}}.{{$discriminator.PropertyName}} = "{{$value}}"
                                {{$hasProperty = true -}}
                            {{end -}}
                        {{end -}}
                        {{if not $hasProperty}}v.{{$discriminator.PropertyName}} = "{{$value}}"{{end}}
                    {{end -}}
                {{end -}}
            {{end -}}
            b, err := json.Marshal(v)
            {{$alias}}.union = b
            return err
        }
        {{end}}{{/*// either type check*/}}
    {{end}}

    {{if $discriminator}}
        func ({{$alias}} {{.Name}}) discriminator(data []byte) (string, error) {
            var discriminator struct {
                Value string {{$discriminator.JSONTag}}
            }
            if err := json.Unmarshal(data, &discriminator); err != nil {
                return "", err
            }
            return discriminator.Value, nil
        }

        {{if and (ne 0 (len $discriminator.Mapping)) (not $eitherType)}}
            func ({{$alias}} {{.Name}}) ValueByDiscriminator() (any, error) {
                discriminator, err := {{$alias}}.discriminator({{$alias}}.union)
                if err != nil {
                    return nil, err
                }
                switch discriminator{
                    {{range $value, $type := $discriminator.Mapping -}}
                        case "{{$value}}":
                            return {{$alias}}.As{{$type}}()
                    {{end -}}
                    default:
                        return nil, errors.New("unknown discriminator value: "+discriminator)
                }
            }
        {{end}}
    {{end}}

    {{ if .Schema.HasAdditionalProperties }}
      {{ template "unionAdditionalProperties" (dict "Name" .Name "Schema" .Schema "alias" $alias) }}
    {{ else }}
        {{if $eitherType}}
            {{ template "marshalEither" (dict "name" .Name "discriminator" $discriminator "alias" $alias) }}
        {{ else }}
            {{ template "marshalUnion" (dict "name" .Name "schema" .Schema "alias" $alias) }}
        {{ end }}

        {{ if $eitherType }}
            {{ if $discriminator }}
                {{ template "unmarshalEitherTypeWithDiscriminator" (dict "discriminator" $discriminator "elements" .Schema.UnionElements "name" .Name "alias" $alias) }}
            {{ else }}
                {{ template "unmarshalEitherTypeWithoutDiscriminator" (dict "name" .Name "alias" $alias) }}
            {{ end }}
        {{ else }}
            {{ template "unmarshalUnion" (dict "name" .Name "schema" .Schema "alias" $alias) }}
        {{ end }}
    {{end}}
    {{end}}
{{end}}


{{ define "marshalEither" }}
{{- $args := . -}}
func ({{$args.alias}} *{{$args.name}}) MarshalJSON() ([]byte, error) {
    data := {{$args.alias}}.Value()
    if data == nil {
        return nil, nil
    }

    obj, err := json.Marshal(data)
    if err != nil {
        return nil, err
    }
    {{- if $args.discriminator }}
    disc, err := {{$args.alias}}.discriminator(obj)
    if err != nil {
        return nil, err
    }
    return marshalJSONWithDiscriminator(obj, "{{$args.discriminator.Property}}", disc)
    {{ else }}
        return obj, nil
    {{ end -}}
}
{{ end }}

{{ define "unmarshalEitherTypeWithoutDiscriminator" }}
{{- $args := . -}}
func ({{$args.alias}} *{{$args.name}}) UnmarshalJSON(data []byte) error {
    return {{$args.alias}}.Unmarshal(data)
}
{{ end }}

{{ define "unmarshalEitherTypeWithDiscriminator" }}
{{- $args := . -}}
func ({{$args.alias}} *{{$args.name}}) UnmarshalJSON(data []byte) error {
    discriminator, err := {{$args.alias}}.discriminator(data)
    if err != nil {
        return err
    }

    switch discriminator{
    {{range $value, $type := $args.discriminator.Mapping -}}
        case "{{$value}}":
            var res {{$type}}
            if err = json.Unmarshal(data, &res); err != nil {
                return err
            }

            {{if eq $type (index $args.elements 0)}}
                {{$args.alias}}.A = res
                {{$args.alias}}.N = 1
            {{ else }}
                {{$args.alias}}.B = res
                {{$args.alias}}.N = 2
            {{ end -}}
    {{end -}}
    default:
        return errors.New("unknown discriminator value: "+discriminator)
    }
    return nil
}
{{ end }}

{{ define "marshalUnion" }}
{{- $args := . -}}
func ({{$args.alias}} {{$args.name}}) MarshalJSON() ([]byte, error) {
    b, err := {{$args.alias}}.union.MarshalJSON()

    {{if ne 0 (len $args.schema.Properties) -}}
        if err != nil {
            return nil, err
        }
        object := make(map[string]json.RawMessage)
        if err = json.Unmarshal(b, &object); err != nil {
            return nil, err
        }

        {{range $args.schema.Properties}}
            {{if not .Constraints.Required}}if {{$args.alias}}.{{.GoName}} != nil { {{end}}
                object["{{.JsonFieldName}}"], err = json.Marshal({{$args.alias}}.{{.GoName}})
                if err != nil {
                    return nil, fmt.Errorf("error marshaling '{{.JsonFieldName}}': %w", err)
                }
                {{if not .Constraints.Required}} }{{end}}
        {{end -}}
        b, err = json.Marshal(object)
    {{end -}}
    return b, err
}
{{ end }}

{{ define "unmarshalUnion" }}
{{- $args := . -}}
func ({{$args.alias}} *{{$args.name}}) UnmarshalJSON(b []byte) error {
    err := {{$args.alias}}.union.UnmarshalJSON(b)

    {{if ne 0 (len $args.schema.Properties) -}}
        if err != nil {
            return err
        }
        object := make(map[string]json.RawMessage)
        if err = json.Unmarshal(b, &object); err != nil {
            return err
        }

        {{range $args.schema.Properties}}
        if raw, found := object["{{.JsonFieldName}}"]; found {
            if err = json.Unmarshal(raw, &{{$args.alias}}.{{.GoName}}); err != nil {
                return fmt.Errorf("error reading '{{.JsonFieldName}}': %w", err)
            }
        }
        {{end}}
    {{end -}}
    return err
}
{{ end }}
